<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Mantenedores Administrativos">
	
	<listeners>
        <listener class-name="valuesite.testcomponents.ListenersTestNG" />
    </listeners>
    
    <test name="Area RT">
        <classes>
            <class name="valuesite.tests.MantenedorAreaTestRT"/>
        </classes>
    </test>
    
    <test name="Area Ciente">
        <classes>
            <class name="valuesite.tests.MantenedorAreaTestCliente"/>
        </classes>
    </test>
    
    <test name="Modificacion PIN RT">
        <classes>
            <class name="valuesite.tests.ModificacionPinTestRT"/>
        </classes>
    </test>
    
    <test name="Modificacion PIN Cliente">
        <classes>
            <class name="valuesite.tests.ModificacionPinTestCliente"/>
        </classes>
    </test>
    
    
</suite>